@using DoAnCSDL_WebBanGiay.Models
@model IEnumerable<DoAnCSDL_WebBanGiay.Models.DonDatHang>
@{
    ViewBag.Title = "TatCaHoaDon";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Đơn đặt hàng</h2>
<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Tên người đặt
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Ngày đặt hàng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("ChiTiet","HoaDon",new {mahd= item.MaDDH })">
                    @item.MaDDH
                </a>
            </td>
            <td>
                <p>@item.KhachHang.TenKH</p>
            </td>
            <td>
                <p>@item.KhachHang.DiaChi</p>
            </td>
            <td>
                <p>@item.NgayDat</p>
            </td>
        </tr>
    }
</table>


<!-- js -->
<script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart-js -->
<script src="~/Content/js/minicart.js"></script>
<script>
    shoe.render();

    shoe.cart.on('shoe_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) { }
        }
    });
</script>
<!-- //cart-js -->
<!-- /nav -->
<script src="~/Content/js/modernizr-2.6.2.min.js"></script>
<script src="~/Content/js/classie.js"></script>
<script src="~/Content/js/demo1.js"></script>
<!-- //nav -->
<!--search-bar-->
<script src="~/Content/js/search.js"></script>
<!--//search-bar-->
<!-- price range (top products) -->
<script src="~/Content/js/jquery-ui.js"></script>
<script>
    //<![CDATA[
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [50, 6000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); //]]>
</script>
<!-- //price range (top products) -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/Content/js/move-top.js"></script>
<script type="text/javascript" src="~/Content/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smoth-scrolling -->
<script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>

